// button
$button-bg: #998675;
$button-box-shadow: inset 0px 3px 0px 0px #736357;
$button-border-radius: 3px;
$button-font-size: 14px;
$button-line-height: 23px;
$button-font-weight: 800;
$button-color: #ffffff;
$button-border: 1px solid #ebebeb;
$button-padding: 17px 40px;

// cards
$card-image-hover-bg: rgba(17, 17, 17, 0.7);
$card-icon-size: 26px;
$card-body-bg: #fbfaf8;

// base
$animation-speed: 500ms;