.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px -16px -8px;

  &__item {
    flex-basis: calc(100% / 3);
    padding: 0 8px 16px 8px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 15px;
  height: 100%;
  padding: 16px 32px;

  &__image {
    @extend %flex-center;
    margin: 0 auto;
    border: 8px solid $image-border-color;
    border-radius: 50%;
    overflow: hidden;
    height: 150px;
    width: 150px;

    &:hover img {
      transform: scale(1.9);
    }

    img {
      transition: $animation-speed;
      transform: scale(1.6);
    }
  }

  &__button {
    margin-top: auto;
  }
}
