.box-3 {
  width: 800px;
  height: 800px;
  font-size: 24px;
  border: 1px solid $menu-bg;

  &__menu {
    background-color: $menu-bg;
    width: 50px;
    height: 100%;
    transition: all 500ms;
    position: relative;

    &:hover {
      width: 350px;

      .box-3__list {
        visibility: visible;
        opacity: 1;
      }

      .box-3__label {
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  &__label {
    @extend %center-block;
    position: absolute;
    transform: translate(-50%, -50%) rotate(90deg);
    text-transform: uppercase;
    color: white;
    text-align: center;
    width: 200px;
    transition: 500ms;
  }

  &__list {
    margin: 0 0 0 0;
    padding: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    list-style: none;
    text-transform: uppercase;
    visibility: hidden;
    opacity: 0;
    white-space: nowrap;

  }

  &__item {
    &:before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: $point-bg;
      transform: rotate(45deg);
      border: 1px solid $point-border-color;
      margin: 16px 16px 0 0;
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;
    transition: color 500ms;

    &:hover {
      color: $hover-link-hover;
    }
  }
}