.box-2 {
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 800px;

  &__square {
    width: $square-size;
    height: $square-size;
    background-color: $square-bg;
    position: relative;

    &:before,
    &:after {
      content: '';
      width: $square-size;
      height: $square-size;
      position: absolute;
      z-index: -1;
    }

    &:before {
      background-color: $before-square-bg;
      transform: translate(-50%, -50%);
    }

    &:after {
      background-color: $after-square-bg;
      transform: translate(50%, 50%);
    }
  }
}