html,
body {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
}

.container {
  padding: 0 16px;
  text-align: center;

  > p {
    padding: 8px;
  }

  @media (min-width: 1200px) {
    order: 2;
  }
}

img {
  max-width: 100%;
  height: auto;
}

#wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  @media (min-width: 1200px) {
    display: flex;
    flex: 1 1 auto;
  }
}