// header
$header-bg: #d3b714;

// sidebar
$sidebar-left-bg: #c798b9;
$sidebar-right-bg: #9cb1c7;

// footer
$footer-bg: #86ec86;

// button
$button-bg: #685174;
$button-color: #fff;
$button-hover-bg: #9668a8;

// card
$image-border-color: #c7b7b7;

// color-box
$first-element-bg: #fd644d;
$second-element-bg: #4983b2;
$third-element-bg: #663797;
$fourth-element-bg: #0e7f12;
$fifth-element-bg: #fda429;

// base
$animation-speed: 400ms;