// header
$header-bg: #d3b714;
$menu-bg: #685174;
$burger-bg: #000;

// sidebar
$sidebar-left-bg: #c798b9;
$sidebar-right-bg: #9cb1c7;

// footer
$footer-bg: #86ec86;

// button
$button-bg: #685174;
$button-color: #fff;
$button-hover-bg: #9668a8;

// card
$image-border-color: #c7b7b7;

// base
$animation-speed: 400ms;