// box-1 variables
$box-1-bg: #0d5825;
$card-width: 150px;
$box-1-font-size: 25px;

// box-2 variables
$square-bg: #7e8aeb;
$square-size: 200px;
$before-square-bg: #ff8888;
$after-square-bg: #4def99;

// box-3 variables
$menu-bg: #7e7e7e;
$point-bg: #d79106;
$point-border-color: #7c5509;
$hover-link-hover: #d79106;

// box-4 variables
